<!DOCTYPE html>
<html>
  <head>
    <title id="projectTitle"></title>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link
      href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css"
    />
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <script src="/js/lodash.min.js"></script>

    <script src="/js/handlebars.js"></script>

    <!-- Default Publishing -->
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="/js/jquery-3.4.1.min.js"></script>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

    <!-- SVG Map 을 생성하기 위한 필수 Library -->
    <!-- <script src="/js/svg.js"></script> -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js"
      integrity="sha512-p3Tp2zn+wApBreZCgRkmMwnfpN8MUPXzzOihXx7iGYXqE7t6m9drY8HeyMeeFuDWiTFKrGUrq3jpbT0vX6zY/Q=="
      crossorigin="anonymous"
    ></script> -->
    <script src="/js/svg/svg.js"></script>
    <!-- <script src="/js/svg/svg.filter.js"></script> -->
    <!-- <script src="/js/svg.filter.js"></script> -->
    <script src="/js/panzoom.min.js"></script>

    <link href="/css/template/common.css" rel="stylesheet" />

    <!-- toggle library -->
    <!-- <script src="/js/bootstrap-toggle.min.js"></script>
    <link href="/css/bootstrap-toggle.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/bootstrap-table.min.css" />
    <script src="/js/bootstrap-table.min.js"></script> -->
  </head>

  <script>
    const map = <%- JSON.stringify(map) %>;
  </script>

  <body>
    <div id="wrap" class="wrap">
      <!-- Header -->
      <!--메인-->
      <div class="container_body">
        <!-- Content -->
        <div id="controlContent">
          <!-- Svg Map -->
          <div class="" id="structure">
            <div class="map_control_box" id="mapControlBox">
              <button class="ui-button ui-widget ui-corner-all" onclick="crayBtn1()">
                창 띄우기
              </button>
              <!-- panzoom button-->
              <button id="zoomIn" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-zoom-in"></span>
              </button>
              <button id="zoomOut" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-zoom-out"></span>
              </button>
              <button id="reset" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-refresh"></span>
              </button>
              <button id="scrollUp" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-arrow-up"></span>
              </button>
              <button id="monitoring_mode" class="btn btn-warning btn-sm">
                <span class="glyphicon glyphicon-fullscreen"></span>
              </button>
            </div>
            <!-- SVG canvas -->
            <div class="svg_area" id="canvas"></div>
          </div>
          <!-- Tables -->
          <div class="hidden" id="operStatusTable">
            <div class="container_row">
              <p class="table_desc_area">
                명령 목록 - 갱신시간 &nbsp;<span id="cmdUpdateDate"></span>
              </p>
              <div class="table-responsive default_area">
                <table id="cmdTableBody" class="table table-bordered number_table">
                  <thead>
                    <tr>
                      <th data-field="wrapCmdFormat">명령 형식</th>
                      <th data-field="wrapCmdType">명령 타입</th>
                      <th data-field="wrapCmdStep">명령 단계</th>
                      <th data-field="wrapCmdId">명령 ID</th>
                      <th data-field="wrapCmdName">명령 이름</th>
                      <th data-field="wrapCmdCancel">명령 취소</th>
                    </tr>
                  </thead>
                  <tbody id="cmdTableBodyDom"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="dialog-dynamic" title="" style="display: none;"></div>
    <script id="dialog-dynamic-template" type="template">
      <p>{{ confirmMsg }}</p>
      {{#if isSetValue}}
      <p>{{ setMsg }} <input type="number" min="{{ min }}" max="{{ max }}" name="" placeholder="{{ min }} ~ {{ max }}" id="dialog-dynamic-input" class="ui-widget-content ui-corner-all" /></p>
      {{/if}}
    </script>

    <script src="/js/drawSvg/drawSvg.js"></script>

    <script>
      let dialog;
      function showDynamicDialog(title, buttonFn) {
        dialog = $('#dialog-dynamic').dialog({
          width: 300,
          modal: true,
          title,
          open: function () {
            $('.ui-widget-overlay').bind('click', function () {
              $('#dialog-dynamic').dialog('close');
            });
          },
          closeText: 'Close',
          buttons: buttonFn,
        });
      }
    </script>

    <!-- SVG Map 세팅 -->
    <script>
      initDrawSvg();
      drawSvgBasePlace('canvas'); // 멥 그리기

      // FIXME:
      // alertDeviceCmdConfirm(mdNodeStorage.get('P_001'));
      // alertDeviceCmdConfirm(mdNodeStorage.get('ST_015'));
    </script>

    <!-- panzoom & 맵 제어 박스 세팅 -->
    <script>
      var filter = 'win16|win32|win64|mac|macintel';
      var canvas = document.getElementById('svgCanvas');
      var startScale = 1;

      var canvasPanzoom = Panzoom(canvas, {
        cursor: 'default',
        startScale: startScale,
      });

      document.getElementById('zoomIn').addEventListener('click', canvasPanzoom.zoomIn);
      document.getElementById('zoomOut').addEventListener('click', canvasPanzoom.zoomOut);
      document.getElementById('reset').addEventListener('click', canvasPanzoom.reset);
      document.getElementById('scrollUp').addEventListener('click', () => {
        document.documentElement.scrollTop = 0;
      });
      canvas.addEventListener('wheel', canvasPanzoom.zoomWithWheel); // 마우스 휠 확대/축소 이벤트

      // 맵 제어 박스 스크롤에 반응하여 상단 고정
      $(document).ready(() => {
        const mCBoxOffset = $('#mapControlBox').offset();

        $(window).scroll(() => {
          $(document).scrollTop() > mCBoxOffset.top
            ? $('#mapControlBox').css({ position: 'fixed', top: '0px' })
            : $('#mapControlBox').css({ position: '', top: '' });
        });
      });

      // 모니터링 버튼 이벤트
      document.querySelector('#monitoring_mode').addEventListener('click', () => {
        $('.container_row').toggleClass('hidden');
        $('.container-fluid_st').toggleClass('hidden');
        $('#wrap > header').toggleClass('hidden');
        $('#wrap > footer').toggleClass('hidden');

        $('#monitoring_mode').children().toggleClass('glyphicon-fullscreen');
        $('#monitoring_mode').children().toggleClass('glyphicon-remove');

        $('.svg_area').height(window.innerHeight);
        window.dispatchEvent(new Event('resize'));
      });
    </script>
  </body>
</html>
